body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
}

header {
  background-color: black;
  color: white;
}

footer {
  text-align: center;
}

.container {
  margin: 60px;
}

/* NAVBAR */

.navbar {
  background-color: black;
  color: white;
  /* margin: 10px 5px 10px 5px; */
}

.navbar img {
  margin-left: 80px;
  margin-top: 5px;
}

.navbar ul {
  float: right;
  margin-right: 80px;
}

.navbar li{
  display: inline-block;
}

.navbar a {
  padding: 15px;
  text-decoration: none;
  color: white;
}

/* JUMBO */

.jumbo {
  margin: 20px;
  text-align: center;
  margin: 0px;
}

.jumbo img {
  width: 100%;
}

/* LAST ARTICLE */

.lastArticle {
  border: 1px #eee solid;
  margin: 20px 10px 20px;

}

.widthOnly {
  width: 33.3%;
}

.lastArticle h3{
  color: blue;
}

.lastArticle a {
  float: right;
}

.lastArticle img {
  display: block;
  /* margin-left: auto;
  margin-right: auto; */
  width: 100%;
}

.singleArticle {
  padding: 20px;
}

.singleArticle h3>p {
  float: right;
  margin: 0px;
  color: #000000;
}

.displayDiv {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.looking h3 {
  color: blue;
}

.lastest a {
  color: red;
  text-decoration: none;
}

.looking a {
  display: inline-block;
  border-radius: 10px;
  background-color: red;
  color: white;
  padding: 10px;
  text-decoration: none;
  margin: 5px;
  font-size: 14px;
}

.lastest {
  margin: 20px;
}

.last a {
  border-radius: 10px;
  background-color: red;
  color: white;
  padding: 10px;
  text-decoration: none;
  margin: 5px;
  font-size: 14px;
  float: right;
}

.stars {
  display: inline;
  margin: 0px;
  color: red;
}

.looking {
  margin: 20px;
}

.looking img {
  float: right;
  margin: 10px;
}

/* CREATIVE */

.creative {
  border-radius: 5px;
  background-color: #E1ECEC;
  margin: 50px;
  padding: 20px;
}

.creative h3 {
  color: blue;
}

.creative a {
  border-radius: 10px;
  background-color: red;
  color: white;
  padding: 10px;
  text-decoration: none;
  margin: 5px;
  font-size: 14px;
  float: right;
}



/* BORDERS */

.border {
  border: 1px #eee solid;
  padding: 10px;
}

.borderOnlyTop {
  border-top: 1px #eee solid;
}

.borderOnlyBootom {
  border-bottom: 1px #eee solid;
  margin: 50px;
}

/* CLEAR  */

.clear::after {
  content:" ";
  clear: both;
  display: block;
}

