.custom-form > input, .custom-form-zad-2 > input {
  display: block;
  margin-bottom: 8px;
  border-radius: 4px;
  border: 1px solid #000000;
  padding: 4px;
  min-width: 180px;
}

.custom-form-zad-2 > select {
  margin-bottom: 8px;
  border-radius: 4px;
  border: 1px solid #000000;
  padding: 4px;
  min-width: 30px;
  min-height: 30px;
}

.custom-form > label, .custom-form-zad-2 > label {
  display: block;
  margin-bottom: 2px;
}

#time_12 {
  display: inline-block !important;
}

.custom-form > input:valid {
  border: 1px solid green;
}

.custom-form > input:invalid, .custom-form-zad-2 > input:invalid {
  border: 1px solid red;
}

.custom-form > input:placeholder-shown {
  border: 1px solid #000000;
}